/ {
    servo: servo {
        /* Servo motor on tim9_ch2_pe6 on PE_6 */
        compatible = "pwm-servo";
        pwms = <&pwm9 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
    };

    aliases {
        led0 = &green_led_3;
        led1 = &red_led_4;
    };

    zephyr,user {
        /* adjust channel number according to pinmux in board.dts */
        io-channels = <&adc1 1>; /* ADC1_1 on pin PA_1 */
    };

    chosen {
        perso,bme680 = &bme680;
    };
};

/* https://docs.zephyrproject.org/3.6.0/build/dts/api/bindings/adc/st,stm32-adc.html */
&adc1 {
    pinctrl-0 = <&adc1_in1_pa1>;
    pinctrl-names = "default";
    st,adc-clock-source = "SYNC";
    st,adc-prescaler = <4>;
    status = "okay";
};

&i2c3 {
    bme680: bme680@77 {
        compatible = "bosch,bme680";
        reg = <0x77>;
    };
};

&timers9 {
    status = "okay";
    st,prescaler = <1000>;

    pwm9: pwm {
        status = "okay";
        pinctrl-0 = <&tim9_ch2_pe6>;
        pinctrl-names = "default";
    };
};
